<!-- login.html -->
{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

<h1>Login Page WOI</h1>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
</form>

<script>
    // Check if login failed, show alert
    {% if login_failed %}
        alert("Invalid username or password");
    {% endif %}
</script>

</body>
</html>
{% endblock %}